<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.efarm360.com.dabaomvp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DaggerPersionActivity" />
        <activity
            android:name=".activity.ToolbarActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".activity.TablayoutActivity" />
        <activity android:name=".activity.PictureLunBoActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            />
    </application>

</manifest>