<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.efarm360.com.dabaomvp">

    <!-- 网络请求 wifi和internet -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 内存卡读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 添加蒙层的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 开启相机好和闪光灯 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DaggerPersionActivity" />
        <activity
            android:name=".activity.ToolbarActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".activity.TablayoutActivity" />
        <activity
            android:name=".activity.PictureLunBoActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.SegmentGroupActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".activity.LambdaActivity" />
        <activity android:name=".activity.ViewDragHelperActivity" />
        <activity android:name=".activity.UpViewActivity" />
        <activity android:name=".activity.RecycleViewAdapterActivity" />
        <activity android:name=".activity.MultiItemRvActivityActivity" />
        <activity android:name=".activity.RecyclerActivity" />
        <activity android:name=".activity.AddLayerActivity" />
        <activity android:name=".activity.ThirstDeffetActivitys" />
        <activity android:name=".activity.OpenLightActivity" />
        <activity android:name=".activity.SlideRecyclerViewActivity"></activity>
    </application>

</manifest>