<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.efarm360.com.dabaomvp">

    <!-- 网络请求 wifi和internet -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 内存卡读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 添加蒙层的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 开启相机好和闪光灯 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <!-- 开启录音的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序连接到已配对的蓝牙设备。 -->
    <uses-permission android:name="Android.permission.BLUETOOTH" />
    <!-- 允许程序发现和配对蓝牙设备。 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--设置壁纸-->
    <uses-permission android:name = "android.permission.SET_WALLPAPER"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>


    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DaggerPersionActivity" />
        <activity
            android:name=".activity.ToolbarActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".activity.TablayoutActivity" />
        <activity
            android:name=".activity.PictureLunBoActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.SegmentGroupActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".activity.LambdaActivity" />
        <activity android:name=".activity.ViewDragHelperActivity" />
        <activity android:name=".activity.UpViewActivity" />
        <activity android:name=".activity.RecycleViewAdapterActivity" />
        <activity android:name=".activity.MultiItemRvActivityActivity" />
        <activity android:name=".activity.RecyclerActivity" />
        <activity android:name=".activity.AddLayerActivity" />
        <activity android:name=".activity.ThirstDeffetActivitys" />
        <activity android:name=".activity.OpenLightActivity" />
        <activity android:name=".activity.SlideRecyclerViewActivity" />
        <activity
            android:name=".activity.CoordinatorLayoutTest.CoordinatorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.CoordinatorLayoutTest.CoordinatorDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemes" />
        <activity android:name=".activity.CoordinatorLayoutTest.CoordinatorDemo2Activity" />
        <activity
            android:name=".activity.CoordinatorLayoutTest.CoordinaterTestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".activity.CoordinatorLayoutTest.SimpleCoordinatorActivity"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme" />
        <activity android:name=".activity.CoordinatorLayoutTest.IOActivityExample" />
        <activity android:name=".activity.CoordinatorLayoutTest.FlexibleSpaceExampleActivity" />
        <activity android:name=".activity.CoordinatorLayoutTest.MaterialUpConceptActivity" />
        <activity android:name=".activity.CoordinatorLayoutTest.SwipeBehaviorExampleActivity" />
        <activity
            android:name=".activity.recyclerViewSelectMore.RvSelectActivity"
            android:theme="@style/AppThemes" />
        <activity android:name=".activity.recyclerViewPindaoxuanze.RecyclerViewDingzhiActivity" />
        <activity android:name=".activity.recyclerViewPindaoxuanze.drag.DragActivity" />
        <activity android:name=".activity.recyclerViewPindaoxuanze.Channel.ChannelActivity" />
        <activity android:name=".activity.picture.SelectPictureActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.picture.PicSelectActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.efarm360.com.dabaomvp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".activity.record.RecordActivity" />
        <activity android:name=".activity.bluetooth.BluetoothActivity" />
        <activity android:name=".activity.bluetooth.ClientActivity" />
        <activity android:name=".activity.bluetooth.ServerActivity" />
        <activity android:name=".activity.bluetooth.bluetooth2.Bluetooth2Activity" />
        <!-- 广播接收 -->
        <receiver android:name=".activity.bluetooth.bluetooth2.BluetoothReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.device.action.FOUND" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.bluetooth.llangyaerji.bluetoothErjiActivity" />
        <activity android:name=".activity.webservice.WebServiceActivity" />
        <activity android:name=".activity.picture.PictureLoadeActivity" />
        <activity android:name=".activity.picture.ClipPictureActivity" />
        <activity
            android:name=".activity.VideoPlayView.VidieoActivity"
            android:label="@string/title_activity_vidieo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.VideoPlayView.MyViedeoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.VideoPlayView.MyViedeoPlayer2Activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.VideoPlayView.VideoLiveActivity"/>

        <activity android:name=".stickydecoration.view.PowerfulStickyRecyclerViewActivity"/>
        <activity android:name=".stickydecoration.view.BeautifulRecyclerViewActivity"/>
        <activity android:name=".stickydecoration.view.StickyRecyclerViewActivity"/>

        <!-- 配置实时壁纸Service -->
        <!--<service-->
            <!--android:name=".activity.VideoPlayView.serverce.VideoLiveWallpaper"-->
            <!--android:label="@string/app_name"-->
            <!--android:permission="android.permission.BIND_WALLPAPER"-->
            <!--android:process=":wallpaper">-->
            <!--&lt;!&ndash; 为实时壁纸配置intent-filter &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.service.wallpaper.WallpaperService" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; 为实时壁纸配置meta-data &ndash;&gt;-->
            <!--<meta-data-->
                <!--android:name="android.service.wallpaper"-->
                <!--android:resource="@xml/livewallpaper" />-->
        <!--</service>-->
        <!--<service-->
            <!--android:name=".activity.VideoPlayView.serverce.CameraLiveWallpaper"-->
            <!--android:label="app"-->
            <!--android:permission="android.permission.BIND_WALLPAPER">-->

            <!--<intent-filter>-->
                <!--<action android:name="android.service.wallpaper.WallpaperService"/>-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.service.wallpaper"-->
                <!--android:resource="@xml/livewallpaper"/>-->
        <!--</service>-->

    </application>

</manifest>